<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Compañias de Bomberos
    </ion-title>
    <ion-searchbar animated></ion-searchbar>    
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
    <ion-list>
      <ion-list-header>
        Compañias de Bomberos
      </ion-list-header>

      <ion-item *ngFor="let compania of companias.Items">
        <ion-avatar slot="start">
          <img src="{{compania.img}}">
        </ion-avatar>
        <ion-label>
          <h2>{{compania.compania}}</h2>
          <h3>{{compania.direccion}}</h3>
          <p>Telefono: {{compania.telefono}}</p>
        </ion-label>
      </ion-item>

      
    </ion-list>


  </div>


  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button boton="add1" (click)="openAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="business-sharp"></ion-icon>
        <ion-label>Compañias</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="hammer-outline"></ion-icon>
        <ion-label>Insumos Cercanos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  

      
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
